html, body {
  height: 100%;
  width: 100%;
}

.lato-regular {
  font-family: 'Lato', sans-serif !important;
}

.font-small {
  font-size: 12px !important;
}

.font-medium {
  font-size: 14px !important;
}

.font-large {
  font-size: 16px !important;
}

.lato-bold {
  font-family: 'Lato', sans-serif !important;
  font-weight: bold !important;
}

.border-none {
  border: none !important;
}

.colour-border-transparent {
  border-color: transparent !important;
}

.colour-border-light-green {
  border-color: #D2F2EA !important;
}

.colour-border-green {
  border-color: #43B78D !important;
}

.colour-border-blue {
  border-color: #2F80ED !important;
}

.colour-border-light-blue {
  border-color: #E9F3FF !important;
}

.colour-border-dark-gray {
  border-color: #4F4F4F !important;
}

.colour-border-gray {
  border-color: #828282 !important;
}

.colour-border-light-gray {
  border-color: #E0E0E0 !important;
}

.colour-border-orange {
  border-color: #F8B76B !important;
}

.colour-border-purple {
  border-color: #8785FF !important;
}

.colour-border-light-purple {
  border-color: #EEDCFF !important;
}

.colour-border-red {
  border-color: #EB5757 !important;
}

.colour-border-yellow {
  border-color: #F2C94C !important;
}

.colour-border-light-yellow {
  border-color: #FCEED3 !important;
}

.colour-border-white {
  border-color: #FFFFFF !important;
}

.colour-border-white2 {
  border-color: #F8F8F8 !important;
}

.colour-front-transparent {
  color: transparent;
}

.colour-front-light-green {
  color: #D2F2EA !important;
}

.colour-front-green {
  color: #43B78D !important;
}

.colour-front-light-blue {
  color: #E9F3FF !important;
}

.colour-front-blue {
  color: #2F80ED !important;
}

.colour-front-dark-gray {
  color: #4F4F4F !important;
}

.colour-front-gray {
  color: #828282 !important;
}

.colour-front-light-gray {
  color: #E0E0E0 !important;
}

.colour-front-orange {
  color: #F8B76B !important;
}

.colour-front-purple {
  color: #8785FF !important;
}

.colour-front-light-purple {
  color: #EEDCFF !important;
}

.colour-front-red {
  color: #EB5757 !important;
}

.colour-front-yellow {
  color: #F2C94C !important;
}

.colour-front-light-yellow {
  color: #FCEED3 !important;
}

.colour-front-white {
  color: #FFFFFF !important;
}

.colour-front-white2 {
  color: #F8F8F8 !important;
}

.colour-back-transparent {
  background-color: transparent !important;
}

.colour-back-white {
  background-color: #FFFFFF !important;
}

.colour-back-white2 {
  background-color: #F8F8F8 !important;
}

.colour-back-light-green {
  background-color: #D2F2EA !important;
}

.colour-back-green {
  background-color: #43B78D !important;
}

.colour-back-light-blue {
  background-color: #E9F3FF !important;
}

.colour-back-blue {
  background-color: #2F80ED !important;
}

.colour-back-orange {
  background-color: #F8B76B !important;
}

.colour-back-light-purple {
  background-color: #EEDCFF !important;
}

.colour-back-purple {
  background-color: #8785FF !important;
}

.colour-back-red {
  background-color: #EB5757 !important;
}

.colour-back-yellow {
  background-color: #F2C94C !important;
}

.colour-back-light-yellow {
  background-color: #FCEED3 !important;
}

.colour-back-dark-gray {
  background-color: #4F4F4F !important;
}

.colour-back-gray {
  background-color: #828282 !important;
}

.colour-back-light-gray {
  background-color: #E0E0E0 !important;
}

.colour-back-extra-dark {
  background-color: #333333 !important;
}

.colour-back-light {
  background-color: #F2F2F2 !important;
}

.quicks-input-dark {
  background-color: rgb(79,79,79) !important;
  border-color: rgb(79,79,79) !important;
}

.input-group-prepend > .input-group-text {
  border-radius: 0;
}

input:focus {
  outline: none !important;
}

input {
  outline: none !important;
}

#mainMenuButtonContainer  {
  position: fixed;
  bottom: 20px;
  right: 30px;
}

#mainMenuButtonContainer > #selectedButton {
  text-align: center;
  min-height: 61.6px;
  min-width: 73.6px;
}


#mainMenuButtonContainer  #selectedButton:hover {
  background-color: rgb(71, 141, 232);
}

#btnInbox {
  min-width: 48px;
  min-height: 48px;
}

#btnTask {
  min-width: 48px;
  min-height: 48px;
}

.button-selection {
  position: absolute;
  top: -20px;
  right: 90px;
  gap: 20px;
}

.button-selection > div {
  position: relative;
}

.button-selection > div.init {
  display: none;
}

.button-selection > div.hide-no-anim {
  display: none;
  /* animation: hideMenu 0.5s forwards; */
}

.button-selection > div.hide {
  /* display: none; */
  animation: hideMenu 0.5s forwards;
}

.button-selection > div.show {
  animation: openMenu 0.5s forwards;
}

.ellipse-behind {
  width: 100%;
  min-height: 61.6px;
  max-height: 61.6px;
  min-width: 73.6px;
  background-color: rgb(79,79,79);
  border-radius: 50%;
  position: relative;
  top: 20px;
  left: 75px;
}

div.ellipse-behind.showing {
  opacity: 1;
}

div.ellipse-behind.hidden {
  opacity: 0;
}

@keyframes openMenu {
  from {
    display: block;
    right: -100px;
    opacity: 0;
  }
  to {
    display: block;
    right: -70px;
    opacity: 1;
  }
}

@keyframes hideMenu {
  from {
    display: block;
    right: -70px;
    opacity: 1;
  }
  to {
    right: -100px;
    opacity: 0;
    display: none;
  }
}

.quicks-spinner-large {
  width: 5rem !important;
  height: 5rem !important;
  font-size: 40px;
}

.quicks-spinner-small {
  width: 40px !important;
  height: 40px !important;
}

.quicks-spinner-gray {
  border-right-color: rgb(248,248,248) !important;
  border-bottom-color: rgb(248,248,248) !important;
  border-left-color: rgb(196,196,196) !important;
  border-top-color: rgb(196,196,196) !important;
}

.quicks-spinner-blue {
  border-right-color: rgb(248,248,248) !important;
  border-bottom-color: rgb(248,248,248) !important;
  border-left-color: #2F80ED !important;
  border-top-color: #2F80ED !important;
}

.no-outline {
  outline: none; 
}

.border-thin {
  border-width: 1px;
  border-style: solid;
}

.hover-pointer:hover {
  cursor: pointer;
}

.no-text-select {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.bordered-solid-1 {
  border-width: 1px !important;
  border-style: solid !important;
}

.bordered-solid-2 {
  border-width: 2px !important;
  border-style: solid !important;
}

.bordered-solid-3 {
  border-width: 3px !important;
  border-style: solid !important;
}

.bordered-solid-4 {
  border-width: 4px !important;
  border-style: solid !important;
}

.bordered-solid-5 {
  border-width: 5px !important;
  border-style: solid !important;
}

.separator {
  margin-bottom: 0px;
  margin-top: 20px;
  border: 1px solid black;
}

.strikethrough-text {
  text-decoration: line-through;
}

.quicks-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.quicks-scrollbar::-webkit-scrollbar-track {
  background-color: rgba(0,0,0,0);
}

.quicks-scrollbar::-webkit-scrollbar-thumb {
  background-color: #8D8D8D; /* color of the thumb */
  border-radius: 10px;
}

.quicks-button {
  padding: 10px 15px;
  background-color: transparent;
  border: none;
}

.quicks-ms-n1 {
  margin-left: -0.25rem;
}

.quicks-ms-n2 {
  margin-left: -0.50rem;
}

.quicks-ms-n3 {
  margin-left: -0.75rem;
}

.quicks-ms-n4 {
  margin-left: -1rem;
}

.quicks-ms-n5 {
  margin-left: -1.25rem;
}

.quicks-me-n1 {
  margin-right: -0.25rem;
}

.quicks-me-n2 {
  margin-right: -0.50rem;
}

.quicks-me-n3 {
  margin-right: -0.75rem;
}

.quicks-me-n4 {
  margin-right: -1rem;
}

.quicks-me-n5 {
  margin-right: -1.25rem;
}

.quicks-mt-n1 {
  margin-top: -0.25rem;
}

.quicks-mt-n2 {
  margin-top: -0.50rem;
}

.quicks-mt-n3 {
  margin-top: -0.75rem;
}

.quicks-mt-n4 {
  margin-top: -1rem;
}

.quicks-mt-n5 {
  margin-top: -1.25rem;
}

.no-border-radius-top {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}