#TaskTopbar {
    padding: 24px 32px;
    padding-bottom: 0;
}

#BtnTaskSelection {
    display: flex;
    border-width: 1px;
    border-style: solid;
    padding: 2px 10px;
    border-radius: 5px;
}

#BtnTaskSelection:hover {
    cursor: pointer;
}

#TaskContainer {
    overflow-y: auto;
}

.task-card-title {
    max-width: 350px;
}

.task-card {
    margin-left: 32px;
    margin-right: 32px;
    padding-top: 10px;
    padding-bottom: 5px;
}

.task-card .task-detail {
    margin-left: 25px;
    margin-top: 10px;
}

.task-description, .task-label {
    display: flex;
    margin-top: 10px;
}

.task-description textarea:focus {
    border: 1px solid #828282;
    overflow: hidden;
}

.task-description textarea {
    width: 100%;
    resize: none;
    padding: 5px 10px;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid transparent;
    overflow: none;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    resize: none; /*remove the resize handle on the bottom right*/
}

.task-option, .task-selection {
    position: absolute;
    z-index: 9;
    min-width: 100px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
}

.task-option {
    top: 30px;
    right: 10px;
}

.task-selection {
    top: 40px;
    min-width: 250px;
}

.task-option.show, .task-selection.show, .task-label-option.show {
    display: block;
}

.task-option.hide, .task-selection.hide, .task-label-option.hide {
    display: none;
}

.task-label {
    background-color: #F9F9F9;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.task-control {
    margin-top: 4px;
}

.task-collapse-button {
    margin-top: -8px;
}

.task-option-button {
    margin-top: -8px;
}

.task-label-item.important-asap {
    background-color: #E5F1FF;
}

.task-label-item.offline-meeting {
    background-color: #FDCFA4;
}

.task-label-item.virtual-meeting {
    background-color: #F9E9C3;
}

.task-label-item.asap {
    background-color: #AFEBD8;
}

.task-label-item.client-related {
    background-color: #CBF1C2;
}

.task-label-item.self-task {
    background-color: #CFCEF9;
}

.task-label-item.appointments {
    background-color: #F9E0FD;
}

.task-label-item.court-related {
    background-color: #9DD0ED;
}

.task-label-list {
    padding: 5px 10px;
    display: flex;
    flex-wrap: wrap;
}

.task-label-item {
    border-radius: 5px;
    padding: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    /* flex: 1 0 15%; */
    box-sizing: border-box;
}

.task-label-option {
    position: absolute;
    width: 400px;
    z-index: 99;
}