html, body {
  height: 100%;
  width: 100%;
}

.lato-regular {
  font-family: 'Lato', sans-serif;
}

.font-small {
  font-size: 12px;
}

.font-medium {
  font-size: 14px;
}

.font-large {
  font-size: 16px;
}

.lato-bold {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

.colour-front-blue {
  color: #2F80ED;
}

.colour-front-dark-gray {
  color: #4F4F4F;
}

.colour-front-gray {
  color: #828282;
}

.colour-front-light-gray {
  color: #E0E0E0;
}

.colour-front-orange {
  color: #F8B76B;
}

.colour-front-purple {
  color: #8785FF;
}

.colour-front-red {
  color: #EB5757;
}

.colour-front-yellow {
  color: #F2C94C;
}

.colour-back-blue {
  background-color: #2F80ED !important;
}

.colour-back-orange {
  background-color: #F8B76B !important;
}

.colour-back-purple {
  background-color: #8785FF !important;
}

.colour-back-red {
  background-color: #EB5757 !important;
}

.colour-back-yellow {
  background-color: #F2C94C !important;
}

.colour-back-dark-gray {
  background-color: #4F4F4F !important;
}

.colour-back-gray {
  background-color: #828282 !important;
}

.colour-back-light-gray {
  background-color: #E0E0E0 !important;
}

.colour-back-extra-dark {
  background-color: #333333 !important;
}

.colour-back-light {
  background-color: #F2F2F2 !important;
}

.quicks-input-dark {
  background-color: rgb(79,79,79) !important;
  border-color: rgb(79,79,79) !important;
}

.input-group-prepend > .input-group-text {
  border-radius: 0;
}

input:focus {
  outline: none !important;
}

input {
  outline: none !important;
}

#mainMenuButtonContainer  {
  position: fixed;
  bottom: 20px;
  right: 30px;
}

#mainMenuButtonContainer > #selectedButton {
  text-align: center;
  min-height: 61.6px;
  min-width: 73.6px;
}


#mainMenuButtonContainer  #selectedButton:hover {
  background-color: rgb(71, 141, 232);
}

#btnInbox {
  min-width: 48px;
  min-height: 48px;
}

#btnTask {
  min-width: 48px;
  min-height: 48px;
}

.button-selection {
  position: absolute;
  top: -20px;
  right: 90px;
  gap: 20px;
}

.button-selection > div {
  position: relative;
}

.button-selection > div.init {
  display: none;
}

.button-selection > div.hide-no-anim {
  display: none;
  /* animation: hideMenu 0.5s forwards; */
}

.button-selection > div.hide {
  /* display: none; */
  animation: hideMenu 0.5s forwards;
}

.button-selection > div.show {
  animation: openMenu 0.5s forwards;
}

.ellipse-behind {
  width: 100%;
  min-height: 61.6px;
  max-height: 61.6px;
  min-width: 73.6px;
  background-color: rgb(79,79,79);
  border-radius: 50%;
  position: relative;
  top: 20px;
  left: 75px;
}

div.ellipse-behind.showing {
  opacity: 1;
}

div.ellipse-behind.hidden {
  opacity: 0;
}

@keyframes openMenu {
  from {
    display: block;
    right: -100px;
    opacity: 0;
  }
  to {
    display: block;
    right: -70px;
    opacity: 1;
  }
}

@keyframes hideMenu {
  from {
    display: block;
    right: -70px;
    opacity: 1;
  }
  to {
    right: -100px;
    opacity: 0;
    display: none;
  }
}

.quicks-spinner {
  /* rgb(248,248,248) */
  border-right-color: rgb(248,248,248) !important;
  border-bottom-color: rgb(248,248,248) !important;
  border-left-color: rgb(196,196,196) !important;
  border-top-color: rgb(196,196,196) !important;
  width: 5rem !important;
  height: 5rem !important;
  font-size: 40px;
}