html, body {
  height: 100%;
  width: 100%;
}

.quicks-dark {
  background-color: #333333 !important;
}

.quicks-input-dark {
  background-color: rgb(79,79,79) !important;
  border-color: rgb(79,79,79) !important;
}

.input-group-prepend > .input-group-text {
  border-radius: 0;
}

input:focus {
  outline: none !important;
}

input {
  outline: none !important;
}

#mainMenuButtonContainer  {
  position: fixed;
  bottom: 20px;
  right: 30px;
}

#mainMenuButtonContainer > #selectedButton {
  text-align: center;
  min-height: 61.6px;
  min-width: 73.6px;
}

#selectedButton.btn-inbox {
  background-color: rgb(135,133,255) !important;
  color: #FFFFFF;
}

#selectedButton.btn-task {
  background-color: rgb(248,183,107) !important;
  color: #FFFFFF;
}

#mainMenuButtonContainer  #selectedButton {
  background-color: rgb(47,128,237);
}


#mainMenuButtonContainer  #selectedButton:hover {
  background-color: rgb(71, 141, 232);
}

#btnInbox {
  background-color: rgb(242,242,242);
  min-width: 48px;
  min-height: 48px;
}

#btnTask {
  background-color: rgb(242,242,242);
  min-width: 48px;
  min-height: 48px;
}

.button-selection {
  position: absolute;
  top: -20px;
  right: 90px;
  gap: 20px;
}

.button-selection > div {
  position: relative;
}

.button-selection > div.init {
  display: none;
}

.button-selection > div.hide-no-anim {
  display: none;
  /* animation: hideMenu 0.5s forwards; */
}

.button-selection > div.hide {
  /* display: none; */
  animation: hideMenu 0.5s forwards;
}

.button-selection > div.show {
  animation: openMenu 0.5s forwards;
}

.ellipse-behind {
  width: 100%;
  min-height: 61.6px;
  max-height: 61.6px;
  min-width: 73.6px;
  background-color: rgb(79,79,79);
  border-radius: 50%;
  position: relative;
  top: 20px;
  left: 75px;
}

div.ellipse-behind.showing {
  opacity: 1;
}

div.ellipse-behind.hidden {
  opacity: 0;
}

@keyframes openMenu {
  from {
    display: block;
    right: -100px;
    opacity: 0;
  }
  to {
    display: block;
    right: -70px;
    opacity: 1;
  }
}

@keyframes hideMenu {
  from {
    display: block;
    right: -70px;
    opacity: 1;
  }
  to {
    right: -100px;
    opacity: 0;
    display: none;
  }
}